<!DOCTYPE html>
<html>
  <head>
    <title>Session User Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express</h1>
    <p>Welcome to Session Based User Authentication with passport.js</p>
    <a href="/users/login">Login</a>
    <a href="/users/register">Register</a>
    <a href="/users/logout">Logout</a>
  </body>
</html>
