body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form{
  display: flex;
  flex-direction: column;
  width: 30rem;
  line-height: 2rem;
}

form button[type=submit]{
  margin: 1rem 0 1em 0;
  height: 30px;
}